{{> header}}

<section class="post">
    <header class="post-header">
        <h1 class="post-title">{{post.title}}</h1>
        <p class="post-meta">By  <strong>{{post.author.firstname}}</strong>, on <strong>{{post.addedAt}}</strong></p>
    </header>

    <div class="post-description">
        {{post.headline}}

        {{post.content}}
    </div>
</section>

{{> footer}}
